<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:env="http://www.ultraq.net.nz/thymeleaf/spring-environment"
	lang="en">

<head>
	<title>Thymeleaf REPL</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="icon" type="image/vnd.microsoft.icon" href="../static/favicon.ico" th:href="@{/favicon.ico}"/>
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" crossorigin="anonymous"/>
	<link rel="stylesheet" href="../static/repl.css" th:href="@{/repl.css}"/>

	<script env:if="development" src="http://localhost:35729/livereload.js" defer></script>
</head>

<body>
	<main>
		<header class="header-container">
			<img src="../static/thymeleaf.png" th:src="@{/thymeleaf.png}" alt="Thymeleaf logo" class="header-logo"/>
			<h1 class="header-text">Thymeleaf REPL</h1>
		</header>

		<div class="body-container">
			<p>Hi there! 👋</p>
		</div>

	</main>
</body>

</html>
