@charset "UTF-8";

:root {
	--background-colour: #ffffff;
	--font-colour: #333333;

	--thymeleaf-green: #005f0f;
}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: white;
	border-left: 0.25em solid var(--thymeleaf-green);
	color: #333333;
	font: 1em / 1.5 'Ubuntu', sans-serif;
	height: 100vh;
	padding: 0 0.5em 0.5em 0.25em;
}

/* Center the test items for now */
body {
	align-items: center;
	display: flex;
	font-size: 1em;
	justify-content: center;
}
